<div class="row">
  <div class="span12">
    <h1>How do we use cookies?</h1>
    <p>
      Cookies enable us to identify your device. We use cookies that are strictly necessary to enable you to move
      around the site or to provide certain basic features. We use cookies to enhance the functionality of the website
      by recording the number of times you have visited this site, for example.
    </p>
    <p>
      This site uses cookies to display different content depending on your preferences. The cookie contents are
      related only to your device, not you individually.
    </p>
    <p>
      We don't sell the information collected by cookies, nor do we disclose the information to third parties, except
      where required by law (for example to government bodies and law enforcement agencies).
    </p>
    <p>
      If you wish to control what cookies are set on your device through this website then you can find out how to
      do this at <a href="http://www.minacookies.se/ditt-val/">Mina Cookies</a>.
    </p>
  </div>
</div>
