<div class="row">
  <div class="span12">
    <p>
      This page should display an email newsletter smartbar (may be a one minute delay before it is shown,
      depending on configuration).
    </p>
  </div>
</div>